<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" />
    <title>The Happiness Report </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bring in our bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <!-- Bringing leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- D3 -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- CSS - Style -->
    <link rel="stylesheet" type="text/css" href="/static/css/map_style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>

<!-- Body -->

<body>
    <!-- Page -->
    <div class="container-fluid">

        <!-- Navbar -->
        <div class="row">
            <div class="shadow fixed-top mx-2">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-light">
                        <nav class="navbar navbar-expand navbar-light bg-light">
                            <div class="collapse navbar-collapse" id="navbarResponsive">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/">The Project
                                            <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/project3">Project 3</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/the_team">The Team</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <nav class="navbar navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">The Unconventionalists</a>
                </nav>
            </div>
        </div>

        <!-- End of Navbar Component -->


        <main>
            <!-- The Project section -->
            <section>
                <div id="the_project" class="row align-items-center row_groups">
                    <div class="col-md-8 text_groups">
                        <h1 class="sub">The Project</h1>
                        <h5>TBD</h5>
                        <p>TBD</p>
                        <p>TBD</p>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="" class="img-fluid image_box"
                            alt="Image TBD">
                    </div>
                </div>

            </section>
            <!-- The end of The Project section -->
            <hr>
            <section>
                <!-- Elements of Happiness section -->
                <div id="Hap_anchor" class="row align-items-center row_groups">
                    <div class="col-md-8">
                        <h1>TBD</h1>
                        <p>TBD</p>
                        <div class="list">
                            <ol>
                                <li>TBD</li>
                                <li>TBD</li>
                                <li>TBD</li>
                                <li>TBD</li>
                                <li>TBD</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="" class="img-fluid rounded-circle image_box"
                            alt="Image TBD">
                    </div>
                </div>
                <hr>
                <div class="row row_groups">
                    <h1>TBD</h1>
                    <p>TBD</p>
                </div>
                <!-- End of Elements of Happiness section -->
            </section>
            <hr>
            <!-- Insert here Tableau  -->
            <section>
                <div class="row-md-12">
                    <h1 class="center">Insert here Tableau</h1>
                </div>
            </section>
        </main>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/map_config.js"></script>
    <!-- Create a map object -->
    <!-- <script type="text/javascript" src="../static/js/map_logic.js"></script> -->

    <script type="text/javascript" src="../static/js/ML.js"></script>
</body>

</html>